bin
include
lib
share
*.log
#*.json
*.jsonl
*.parquet
.ipynb_checkpoints/
.DS_Store
.vscode

# any and all directories beginning with "data" assumed to hold test data/harvester output
**/data*

#  env files
**/.env
**/.env.*