bin
include
lib
share
*.log
#*.json
*.jsonl
*.parquet
.ipynb_checkpoints/
__pycache__
.DS_Store
.vscode
*.db
.venv
*.swp

# any and all directories beginning with "data" assumed to hold test data/harvester output
**/data*
**/s3

**/*test*.json
**/*test*.csv

#  env files
**/.env
**/.env.*

**/*.csv

